apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: vgpu-manager-issuer
  namespace: kube-system
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: vgpu-manager-webhook-cert
  namespace: kube-system
spec:
  dnsNames:
    - vgpu-manager-webhook.kube-system.svc
    - vgpu-manager-webhook.kube-system.svc.cluster.local
  issuerRef:
    kind: Issuer
    name: vgpu-manager-issuer
  secretName: vgpu-manager-webhook-secret
  duration: 8760h
  renewBefore: 360h
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: kube-system/vgpu-manager-webhook-cert
  name: vgpu-manager-webhook-mutate
webhooks:
  - admissionReviewVersions:
      - v1beta1
    clientConfig:
      service:
        name: vgpu-manager-webhook
        namespace: kube-system
        path: /pods/mutate
        port: 443
    failurePolicy: Ignore
#    failurePolicy: Fail
    matchPolicy: Equivalent
    name: mutatepod.vgpu-manager.io
    namespaceSelector:
      matchExpressions:
        - key: vgpu-manager.io/ignore-webhook
          operator: NotIn
          values:
            - "true"
        - key: kubernetes.io/metadata.name
          operator: NotIn
          values:
            - kube-system
            - cert-manager
    objectSelector:
      matchExpressions:
        - key: vgpu-manager.io/ignore-webhook
          operator: NotIn
          values:
            - "true"
    reinvocationPolicy: Never
    rules:
      - apiGroups:
          - ""
        apiVersions:
          - v1
        operations:
          - CREATE
        resources:
          - pods
        scope: '*'
    sideEffects: NoneOnDryRun
    timeoutSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: vgpu-manager-webhook
  namespace: kube-system
spec:
  ports:
    - name: http
      port: 443
      protocol: TCP
      targetPort: http
  selector:
    app: vgpu-manager-webhook
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vgpu-manager-webhook
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vgpu-manager-webhook
  template:
    metadata:
      labels:
        vgpu-manager.io/ignore-webhook: "true"
        app: vgpu-manager-webhook
    spec:
      restartPolicy: Always
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      priorityClassName: system-node-critical
      terminationGracePeriodSeconds: 10
      containers:
        - name: device-webhook
          image: coldzerofear/vgpu-manager:latest
          imagePullPolicy: IfNotPresent
          command:
            - device-webhook
            - --server-bind-port=9443
            - --scheduler-name=vgpu-scheduler
            - --default-node-policy=binpack
            - --default-device-policy=binpack
            - --v=4
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: 9443
              scheme: HTTPS
            initialDelaySeconds: 15
            periodSeconds: 20
            successThreshold: 1
            timeoutSeconds: 1
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /readyz
              port: 9443
              scheme: HTTPS
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          ports:
            - name: http
              containerPort: 9443
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          volumeMounts:
            - name: cert-dir
              mountPath: /tmp/k8s-webhook-server/serving-certs
              readOnly: true
      volumes:
        - name: cert-dir
          secret:
            secretName: vgpu-manager-webhook-secret