{{- if .Values.scheduler.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "vgpu-manager.scheduler" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app.kubernetes.io/component: {{ include "vgpu-manager.scheduler" . }}
    {{- include "vgpu-manager.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: {{ .Values.scheduler.schedulerExtender.commands.serverBindPort | default 3456 }}
      targetPort: http
      protocol: TCP
    {{- if gt (int .Values.scheduler.schedulerExtender.commands.pprofBindPort) 0 }}
    - name: pprof
      port: {{ .Values.scheduler.schedulerExtender.commands.pprofBindPort }}
      targetPort: http
      protocol: TCP
    {{- end }}
  selector:
    app.kubernetes.io/component: {{ include "vgpu-manager.scheduler" . }}
    {{- include "vgpu-manager.selectorLabels" . | nindent 4 }}
{{- end }}